li {
  list-style-type: none !important;
}
#masthead {
  background-image: url(img/masthead.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#overlay {
  opacity: 0.8;
  background-color: rgb(0, 0, 0);
}
.text-custom {
  text-shadow: black 5px 5px 1px;
}
.text-orange {
  color: rgb(255, 123, 0);
}
.bg-lightgrey {
  background-color: rgb(240, 240, 240);
}
