@charset "UTF-8"; 
button.redman, button.redman-large,button.redman-dark {
    outline: none !important;
    border: none;
    background: transparent;
}

.bg-redman-black{
    background-color:black;
}
.bg-redman{
    background: rgb(2,0,36);

}
.redman-width{
    width:inherit;
}

button.redman:hover {
    cursor: pointer;
    color:rgb(0, 0, 0) !important;
    font-weight: bold;
}
button.redman:hover>i {
    color:rgb(0, 0, 0) !important;
    font-weight: bold;
}
button.redman-dark:hover {
    cursor: pointer;
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}
button.redman-dark:hover>i {
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}
button.redman-large:hover {
    cursor: pointer;
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}
button.redman-large:hover>i {
    color:rgb(255, 255, 255) !important;
    font-weight: bold;
}
.text-redman-green {
    color:rgb(0, 0, 0) !important;
  }
.text-redman-grey{
    color:rgb(143,143,143) !important;
}

#redman-mainContainer {
    position: relative;
    margin:0;
    padding:0;
    height: auto;
    width: 100%;
}

#redman-enlarged-gallery{
    position:fixed;
    background-color:rgb(0,0,0);
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:4000;
    display:none;
}
.redman-img-large{
    margin: auto;
    background-size:contain;
    background-repeat:no-repeat;
    width:inherit;
    height:920px;
    z-index:4001;
    
}
.redman-img-small{
    background-size:100% 100%;
    background-repeat:no-repeat;
    width:inherit;
    height:120px;
    border:1px solid rgba(255, 255, 255, 0.9);
    z-index:4002;
}

.redman-myImg-hidden , .redman-img-small-hidden {
    display:none;
}
.redman-myImg-shown , .redman-img-small-shown{
    display:block;
}
.redman-myImg{
    margin-bottom:1em;
    border: 2px solid rgb(255,255,255,0.9);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -ms-box-shadow:10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    background-repeat:no-repeat;
    width:inherit;
    max-width:300px;
    height:250px;
    background-size:cover;
    background-position:center;
}

#redman-small-content{
    max-height:50px;
    max-width:100%;
}

@media only screen and (min-width: 300px) {
    .redman-myImg{
        height:250px;
        width:inherit;
        max-width:500px;
    }
    #redman-small-content{
        max-height:60px;
        max-width:100%;
    }
    
}

@media only screen and (min-width: 500px) {
    .redman-myImg{
        height:250px;
        width:inherit;
        max-width:767px;
    }
    #redman-small-content{
        max-height:70px;
        max-width:100%;
    }
    
}

@media only screen and (min-width: 767px) {
    .redman-myImg{
        margin:0.5em;
        height:250px;
        width:inherit;
        max-width:1000px;
    }
    .redman-img-large{
    background-position:center;
    }
}

@media only screen and (min-width: 1000px) {
    .redman-myImg{
        height:250px;
        width:inherit;
        max-width:1200px;
    }
    .redman-img-small{
        height:120px;
    }
}
@media only screen and (min-width: 1200px) {
    .redman-myImg{
        height:250px;
        width:inherit;
    }
    .redman-img-small{
        width:303px;
        height:303px;
    }
}